
body{
    background-image: url("/assets/img/13.jpg"); 

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    min-height: 100vhh;

    background-position: 50% 25%;
}


/*Menu*/
.bg-light{
	width: auto;
  	margin:  auto;
  	padding: 30px;
	background-color: #041356 !important;
}

a.nav-link{
	color: #0080ff!important;
}
/*Fin Menu*/

/*Inicio de Sesion*/

h5.lead{
	color: #0080ff !important;
}
h2.text{
	color: #0080ff !important;
}

h6.text{
	color: #0080ff !important;
}

div.p-2{
	color: #0080ff !important;
}

form {
	max-width: 100%;
	margin: 3px auto;
	padding: 15px 30px;

	border-radius: 8px;
	background: #13131373;

  }

  h3 {
	margin: 0 0 30px 0;
	text-align: left;

	
  }

img.pequeña{
  width: 200px; height: 200px;
   border-radius: 50%;
}


   fieldset 
	{
		border: 1px solid rgb(255, 255, 255) !important;
		margin: 0;
		xmin-width: 0;
		padding: 10px;       
		position: relative;
		border-radius:4px;
		background-color:#00000000;
		padding-left:10px!important;

	}	
	
		legend
		{
			font-size:14px;
			font-weight:bold;
			margin-bottom: 0px; 
			width: 35%; 
			border: 1px solid #ddd;
			border-radius: 4px; 
			padding: 5px 5px 5px 10px; 
			background-color: #ffffff;
		}
	

/*Fin Inicio de Sesion*/

/*Modal del spinner de carga*/
.bd-example-modal-lg .modal-dialog {
	display: table;
	position: relative;
	margin: 0 auto;
	top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content {
	background-color: transparent;
	border: none;
	color: #ffffff;
}

#footer{

	height: 70px;
	background-color: #145a32;
	
}


/*Fin Spinner*/

