<div class="d-flex justify-content-center align-items-center"
	style="min-height: 75%; min-height: 75vh;" id="site_content"
	th:fragment="content">
	<div class="container">
	<h1 class="display-6" id="tituloKardex"  style="color: #ffffff;" >Materias del Alumno: <p th:text="${nombre}"></p></h1>
		<br/><br/>

		<table class="table table-striped table-bordered dt-responsive nowrap"
			style="width: 100%" id="Listas">

			<thead>
				<tr>
					<th>ID</th>
					<th>Materia</th>
					<th>Periodo</th>
					<th>Promedio</th>
					<th>Editar</th>
				</tr>
			</thead>
		</table>

	</div>


	

</div>