<div class="d-flex justify-content-center align-items-center"
	style="min-height: 75%; min-height: 75vh;" id="site_content"
	th:fragment="content">
	
	<div class="container">
		<h1 class="display-6"  style="color: #ffffff;" >Historial Academico</h1>
		
		<form>			
			<span>
				<h3 class="text-white">Historial Academico del alumno:</h3>
				<input type="text" class="form-control" id="nomAlumno" th:value="${nombre}" readonly="true" />
			</span>			
		</form>
		
		<br/>
		
		<button type="button" id="generaPDF" class="btn btn-danger">Genera Reporte PDF</button>
		
		<br/>
		
		<table class="table table-striped table-bordered dt-responsive nowrap"
			style="width: 100%" id="Listas">

			<thead>
				<tr>
					<th>Materia</th>
					<th>Calificaci&oacute;n</th>
					<th>Observaciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="lista : ${kardex}">
					<td><span th:text="${lista.cMateria}">ID</span></td>
					<td><span th:text="${lista.deCalfProm}">Matricula</span></td>
					<td><span th:text="${lista.cObs}">Nombre del Alumno</span></td>
				</tr>
			</tbody>
		</table>
		
		
	</div>
	
</div>