<div class="d-flex justify-content-center align-items-center"
	style="min-height: 75%; min-height: 75vh;" id="site_content"
	th:fragment="content">
	<div class="container">
	<h1 class="display-6"  style="color: #ffffff;" >Buscar Alumno</h1>
		<form>
			<div class="row">
				<div class="col-md-6 row">
					<label 
						class="col-md-4 text-center text-white col-form-label"><h5
							class="lead">Matricula:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="numAlum" placeholder="Matricula del Alumno" onkeypress="return buscaEnter(event, 1)"/>

					</div>
				</div>

				<div class="col-md-6 row">
					<label 
						class="col-md-4 text-center text-white col-form-label"><h5
							class="lead">Nombre del Alumno:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="nombreAlum"
							placeholder="Nombre del Alumno" onkeypress="return buscaEnter(event, 2)" />
					</div>
				</div>
			</div>		
		</form>
		<div class="btn-group d-flex justify-content-end" role="group"
			aria-label="Basic example">
			<button type="button" class="btn btn-secondary" onclick="busquedaAlumnoKardex();"
				th:text="Buscar"></button>
		</div>

		<br/><br/>

		<table class="table table-striped table-bordered dt-responsive nowrap"
			style="width: 100%" id="Listas">

			<thead>
				<tr>

					<th>ID</th>
					<th>Nombre</th>
					<th>Historial Academico</th>


				</tr>
			</thead>
		</table>

	</div>


	

</div>