<div class="d-flex justify-content-center align-items-center"
	style="min-height: 75%; min-height: 75vh;" id="site_content" th:fragment="content">
	
	<div class="container">
		
		<h1 class="display-6 text-white">Consulta Materia</h1>

		<a href="#" th:href="@{/catalogo/materia/formulario}" >
			<button type="button" class="btn btn-secondary btn-lg btn-block">
				<i class="fas fa-plus-circle"></i>Nuevo
			</button>
		</a>
		
		<br/>
		
		<table class="table table-striped table-hover dataTable no-footer table-custom dt-responsive nowrap" style="width: 100%"  id="Listas">
		
			<thead >
				<tr>
					<th>ID</th>
					<th>Clave SEP</th>
					<th>Materia</th>
					<th>Nivel Educativo</th>			
					<th>Grado</th>		
					<th>Activo</th>
					<th>Editar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="lista : ${controlMateria}">
					<td><span th:text="${lista.iMateria}">ID</span></td>
					<td><span th:text="${lista.cClaveSEP}">Clave SEP</span></td>
					<td><span th:text="${lista.cMateria}">Materia</span></td>					
					<td><span th:text="${lista.cCarrera}">Nivel Educativo</span></td>
					<td><span th:text="${lista.cPeriodo}">Grado</span></td>
					<td><span th:text="${lista.lActivo} == 1 ? SI : NO">Activo</span></td>
					<td>
						<a href="#" th:href="@{/catalogo/materia/consulta/uno?iMateria=__${lista.iMateria}__}">
							<button type="button" class="btn btn-info">
								<span class="fas fa-edit" aria-hidden="true"></span>
							</button>
						</a>					
					</td>
					<td>
						<button type="button" id="btnEliminar" class="btn btn-danger"
						th:onclick=  "'eliminar(1 , \''+ ${lista.iMateria} + '\' );'">						
							<span class="fas fa-trash"  aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>

</div>