
<div class="d-flex justify-content-center align-items-center"
	style="min-height: 75%; min-height: 75vh;" id="site_content"
	th:fragment="content">
	<div class="container">

		<h1 class="display-6" style="color: #ffffff;">Control del Grupo</h1>
		<br />
		<form id="Nombre" th:action="@{/segValidaSesionP}" method="POST">

			<div class="row">
				<div id="iID" class="col-md-6 row">
					<label for="iID"
						class="col-md-4 text-center text-white col-form-label"><h5
							class="lead">ID:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg" id="iID"
							readonly="true" name="iID" placeholder="ID"
							onkeypress="return validarUsuario(event)" />
					</div>
				</div>
			</div>
			<br />
				<div id="cSalon" class="col-md-6 row">
					<label for="cSalon" 
					class="col-md-4 text-center text-white col-form-label"><h5 class="lead">Salon:</h5></label>
					<div class="col-md-8">
						<select name="cSalon" class="form-control form-control-lg">	<option>1A</option>	<option>2A</option> <option>3A</option>
						</select>
						<div id="cSalon" class="form-control-feedback"></div>
					</div>
				</div>
			<br />
			
			<div class="row">
				<div id="cGrado" class="col-md-6 row">
					<label for="cGrado" 
					class="col-md-4 text-center text-white col-form-label"><h5
							class="lead">Grado:</h5></label>
					<div class="col-md-8">
						<select name="cGrado" class="form-control form-control-lg">	<option>1ro</option> <option>2do</option> <option>3ro</option>
						</select>
						<div id="cGrado" class="form-control-feedback"></div>
					</div>
				</div>
			</div>
			<br />
				
			<div class="row">

				<div id="cNivelE" class="col-md-6 row">
					<label for="cNivelE" class="col-md-4 text-center text-white col-form-label"><h5
							class="lead">Nivel Educativo:</h5></label>
					<div class="col-md-8">
						<select name="cNivelE" class="form-control form-control-lg"> <option>Kinder</option> <option>Primaria</option>
							<option>Secundaria</option>	</select>
							<div id="cNivelE" class="form-control-feedback"></div>	
					</div>
				</div>
			</div>
			<br />


			<div id="cAlumno" class="col-md-6 row">
				<label for="cAlumno"
					class="col-md-4 text-center text-white col-form-label"><h5
						class="lead">Alumno:</h5></label>
				<div class="col-md-8">
					<input type="text" class="form-control form-control-lg"
						id="cAlumno" name="cAlumno" placeholder="Alumno" />
				</div>
			</div>
			<br />
			
				<div id="cProfesor" class="col-md-6 row">
					<label for="cProfesor"
						class="col-md-4 text-center text-white col-form-label"><h5
							class="lead">Profesor:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="cProfesor" name="cProfesor" placeholder="Profesor" />
					</div>
				</div>
				<br />
				<div>
					<center>
						<button type="button" class="btn btn-outline-primary"
							onclick="segValidaForm();" style="width: 110px;">Nuevo</button>

						<button type="button" class="btn btn-outline-primary"
							onclick="segValidaForm();" style="width: 110px;">Guardar</button>

						<button type="button" class="btn btn-outline-primary"
							style="width: 110px;">
							<a href="/catalogo/grupo">Regresar</a>
						</button>
					</center>
				</div>
				<br />
		</form>
	</div>
</div>