
<div class="d-flex justify-content-center align-items-center" style="min-height: 75%; min-height: 75vh;" th:fragment="content">
    	<div class="container">

	          <form id="Nombre" th:action="@{/segValidaSesionP}" method="POST" >	
	          
    		<div class="row" >
    		
				<div id="Matricula" class="col-md-6 row">
					<label for="Matricula"
						class="col-md-4  text-center col-form-label"><h5 class="lead">Matricula:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="Matricula" name="Matricula" placeholder="Maticula" onkeypress="return validarUsuario(event)" />
					</div>
				</div>
				    					
				<div id="Nombre(s)" class="col-md-6 row">
					<label for="Nombre(s)"
						class="col-md-4 text-center col-form-label"><h5 class="lead">Nombre(s):</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="Nombre(s)" name="Nombre(s)" placeholder="Nombre(s)" />

					</div>
				</div>
				</div>
				
				<div class="row" >	
					
				<div id="Apepaterno" class="col-md-6 row">
					<label for="Apellido Paterno"
						class="col-md-4 text-center col-form-label"><h5 class="lead">Apellido Paterno:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="Apellido Paterno" name="Apellido Paterno" placeholder="Apellido Paterno" onkeypress="return validarUsuario(event)" />	
					</div>
				</div>
				
				<div id="ApeMaterno" class="col-md-6 row">
					<label for="Apellido Materno"
						class="col-md-4 text-center col-form-label"><h5 class="lead">Apellido Materno:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="Apellido Paterno" name="Apellido Materno" placeholder="Apellido Materno" onkeypress="return validarUsuario(event)" />
					</div>
				</div>
				</div>
			
				
    		 <div class="row" >	
				<div id="FechaNacimiento" class="col-md-6 row">
					<label for="Fecha de Nacimiento"
						class="col-md-4  text-center col-form-label"><h5 class="lead">Fecha de Nacimiento:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="Fecha de Nacimiento" name="Fecha de Ingreso" placeholder="Fecha de Nacimiento" onkeypress="return validarUsuario(event)" />
					</div>
				</div>
				
				<div id="Genero" class="col-md-6 row">
					<label for="Genero" class="col-md-4 text-center col-form-label"><h5 class="lead">Genero:</h5></label>
					<div class="col-md-8">
					<select name="Genero" class="form-control form-control-lg"> <option>Hombre</option> <option>Mujer</option></select>
					</div>
				</div>
				</div>
				
				
				<div class="row" >	
				<div id="CURP" class="col-md-6 row">
					<label for="CURP"
						class="col-md-4  text-center col-form-label"><h5 class="lead">CURP:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="CURP" name="CURP" placeholder="CURP" onkeypress="return validarUsuario(event)" />
					</div>
				</div>	
								
				<div id="Direccion" class="col-md-6 row">
					<label for="Direccion"
						class="col-md-4  text-center col-form-label"><h5 class="lead">Direccion:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="Direccion" name="Direccion" placeholder="Direccion" onkeypress="return validarUsuario(event)" />	
					</div>
				</div>
					</div>
				
				<div class="row" >	
				<div id="NumeroInt" class="col-md-6 row">
					<label for="Numero Interior"
						class="col-md-4 text-center col-form-label"><h5 class="lead">Numero Interior:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="Numero Interior" name="Numero Interior" placeholder="Numero Interior" onkeypress="return validarUsuario(event)" />
					</div>
				</div>
				
				<div id="NumeroExt" class="col-md-6 row">
					<label for="Numero Exterior"
						class="col-md-4 text-center col-form-label"><h5 class="lead">Numero Exterior:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="Numero Exterior" name="Numero Exterior" placeholder="Numero Exterior" onkeypress="return validarUsuario(event)" />	
					</div>
				</div>
				</div>
				
				<div class="row" >	
				<div id="Colonia" class="col-md-6 row">
					<label for="Colonia"
						class="col-md-4 text-center col-form-label"><h5 class="lead">Colonia:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="Colonia" name="Colonia" placeholder="Colonia" onkeypress="return validarUsuario(event)" />
					</div>
				</div>
				
				<div id="CP" class="col-md-6 row">
					<label for="CP"
						class="col-md-4 text-center col-form-label"><h5 class="lead">CP:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="CP" name="CP" placeholder="CP" onkeypress="return validarUsuario(event)" />
					</div>
				</div>
				</div>
				
				<div class="row" >	
				<div id="DelMuni" class="col-md-6 row">
					<label for="Delegacion o Municipio"
						class="col-md-4 text-center col-form-label"><h5 class="lead">Delegacion o Municipio:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="Delegacion o Municipio" name="Delegacion o Municipio" placeholder="Delegacion o Municipio" onkeypress="return validarUsuario(event)" />	
					</div>
				</div>
				
				<div id="Tel" class="col-md-6 row">
					<label for="Telefono"
						class="col-md-4 text-center col-form-label"><h5 class="lead">Telefono:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="Telefono" name="Telefono" placeholder="Telefono" onkeypress="return validarUsuario(event)" />
					</div>
				</div>
				</div>	
				
				<div class="row" >
				<div id="TelC" class="col-md-6 row">
					<label for="Telefono Celular"
						class="col-md-4 text-center col-form-label"><h5 class="lead">Telefono Celular:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="Telefono Celular" name="Telefono Celular" placeholder="Telefono Celular" onkeypress="return validarUsuario(event)" />
					</div>
				</div>				

				<div id="NivelEdu" class="col-md-6 row">
					<label for="Nivel Educativo"
						class="col-md-4 text-center col-form-label"><h5 class="lead">Nivel Educativo:</h5></label>
					<div class="col-md-8">
					<select name="Genero" class="form-control form-control-lg"> <option>Maternal</option> <option>Kinder</option> <option>Primaria</option> <option>Secundaria</option></select>
					</div>
				</div>	
				</div>

				<div class="row" >
				<div id="Grado" class="col-md-6 row">
					<label for="Grado"
						class="col-md-4 text-center col-form-label"><h5 class="lead">Grado:</h5></label>
					<div class="col-md-8">
					<select name="Genero" class="form-control form-control-lg"> <option>1ro</option> <option>2do</option> <option>3ro</option></select>
						<div id="errorG" class="form-control-feedback"></div>	
					</div>
				</div>								

				<div id="Periodo" class="col-md-6 row">
					<label for="Periodo"
						class="col-md-4 text-center col-form-label"><h5 class="lead">Periodo:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="Periodo" name="Periodo" placeholder="Periodo" onkeypress="return validarUsuario(event)" />
					</div>
				</div>	
				</div>				
				
				<div class="row" >
				<div id="NomTUT" class="col-md-4 row">
					<label for="Nombre del Tutor"
						class="col-md-4 text-center col-form-label"><h5 class="lead">Nombre del Tutor:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="Nombre del Tutor" name="Nombre del Tutor" placeholder="Nombre del Tutor" onkeypress="return validarUsuario(event)" />
					</div>
				</div>		
				
				<div id="PareTut" class="col-md-4 row">
					<label for="Parentesco del Tutor"
						class="col-md-4 text-center col-form-label"><h5 class="lead">Parentesco del Tutor:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="Parentesco del Tutor" name="Parentesco del Tutor" placeholder="Parentesco del Tutor" onkeypress="return validarUsuario(event)" />	
					</div>
				</div>	

				<div id="TelTu" class="col-md-4 row">
					<label for="Telefono del Tutor"
						class="col-md-4 text-center col-form-label"><h5 class="lead">Telefono del Tutor:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="Telefono" name="Telefono del Tutor" placeholder="Telefono del Tutor" onkeypress="return validarUsuario(event)" />	
					</div>
				</div>
				</div>	

				
				<div>
					<center>	
					<button type="button" class="btn btn-outline-primary" onclick="segValidaForm();" style ="width: 110px;">Nuevo</button>
				
					<button type="button" class="btn btn-outline-primary" onclick="segValidaForm();"  style ="width: 110px;">Guardar</button>				

					<button type="button" class="btn btn-outline-primary" onclick="segValidaForm();"  style ="width: 110px;">Salir</button>	</center>			
				</div>
				
			</form>
			
    	</div>
    </div>