
<div class="d-flex justify-content-center align-items-center"
	style="min-height: 75%; min-height: 75vh;" id="site_content"
	th:fragment="content">
	<div class="container">

		<h1 class="display-6" style="color: #ffffff;">Control De Materia</h1>
		<br />
		<form id="Nombre" th:action="@{/segValidaSesionP}" method="POST">

			<div class="row">
				<div id="iID" class="col-md-6 row">
					<label for="Clave"
						class="col-md-4 text-center text-white col-form-label"><h5
							class="lead">ID:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg" id="iID"
							readonly="true" name="iID" placeholder="ID"
							onkeypress="return validarUsuario(event)" />
					</div>
				</div>
			</div>
			<br />
			<div id="cClave" class="col-md-6 row">
				<label for="cClave"
					class="col-md-4 text-center text-white col-form-label"><h5
						class="lead">Clave SEP:</h5></label>
				<div class="col-md-8">
					<input type="text" class="form-control form-control-lg" id="cClave"
						name="cClave" placeholder="Clave SEP" />

				</div>
			</div>
			<br />
			
			<div class="row">
				<div id="iNivEdu" class="col-md-6 row">
					<label for="Nivel Educativo"
						class="col-md-4 text-center text-white col-form-label"><h5 class="lead">Nivel Educativo:</h5></label>
					<div class="col-md-8">
						<select name="iNivEdu" class="form-control form-control-lg"> <option>Maternal</option> <option>Kinder</option>
							<option>Primaria</option> <option>Secundaria</option> </select>
							<div id="iNivEdu" class="form-control-feedback"></div>
					</div>
				</div>
			</div>
			<br />
			
			<div class="row">
				<div id="iPeriodo" class="col-md-6 row">
					<label for="Periodo" 
					class="col-md-4 text-center text-white col-form-label"><h5	class="lead">Periodo:</h5></label>
					<div class="col-md-8">
						<select name="iPeriodo" class="form-control form-control-lg"> <option>1ro</option> <option>2do</option> <option>3ro</option>
						</select>
						<div id="iPeriodo" class="form-control-feedback"></div>
					</div>
				</div>
			</div>
			<br />

			<div id="Materia" class="col-md-6 row">
				<label for="Materia"
					class="col-md-4 text-center text-white col-form-label"><h5
						class="lead">Materia:</h5></label>
				<div class="col-md-8">
					<input type="text" class="form-control form-control-lg"
						id="iMateria" name="Materia" placeholder="Materia" />

				</div>
			</div>
			<br />
			<div id="iProf" class="col-md-6 row">
				<label for="Profesor"
					class="col-md-4 text-center text-white col-form-label"><h5
						class="lead">Profesor:</h5></label>
				<div class="col-md-8">
					<input type="text" class="form-control form-control-lg" id="iProf"
						name="Profesor" placeholder="Materia" />

				</div>
			</div>
		    <br />
			<div>
				<center>
					<button type="button" class="btn btn-outline-primary"
						onclick="segValidaForm();" style="width: 110px;">Nuevo</button>

					<button type="button" class="btn btn-outline-primary"
						onclick="segValidaForm();" style="width: 110px;">Guardar</button>

					<button type="button" class="btn btn-outline-primary"
						style="width: 110px;">
						<a href="/catalogo/materia">Regresar</a>
					</button>
				</center>
			</div>
			<br />
		</form>
	</div>
</div>


