
<div class="d-flex justify-content-center align-items-center"
	style="min-height: 75%; min-height: 75vh;" id="site_content"
	th:fragment="content">
	<div class="container">

		<h1 class="display-6" style="color: #ffffff;">Control De Materia</h1>
		<br />
		<form id="Nombre" th:action="@{/catalogo/materia/inserta}" th:object="${materia}" method="POST">

			<div class="row">
				<div id="iID" class="col-md-6 row">
					<label for="Clave"
						class="col-md-4 text-center text-white col-form-label"><h5
							class="lead">ID:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg" id="iID"
							readonly="true" name="iID" th:field="*{iCarrera}" th:value="${iCarrera}" placeholder="ID" />
					</div>
				</div>
			</div>
			<br />
			<div id="cClave" class="col-md-6 row">
				<label for="cClave"
					class="col-md-4 text-center text-white col-form-label"><h5
						class="lead">Clave SEP:</h5></label>
				<div class="col-md-8">
					<input type="text" class="form-control form-control-lg" id="cClave"
						name="cClave" th:field="*{cClaveSEP}" th:value="${cClaveSEP}" placeholder="Clave SEP" />

				</div>
			</div>
			<br />
			
			<div class="row">
				<div id="cNivEdu" class="col-md-6 row">
					<label for="Nivel Educativo"
						class="col-md-4 text-center text-white col-form-label"><h5 class="lead">Nivel Educativo:</h5></label>
					<div class="col-md-8">
						<select class="form-control col-md-8" id="iCarrera" th:field="*{iCarrera}" onchange="cargaComboSecundario();" name="iCarrera" >
								<option th:each="dropDownItem : ${listaCarrera}"
								th:value="${dropDownItem.iCarrera}"
								th:text="${dropDownItem.cCarrera}" />
							</select>
							<div id="cNivEdu" class="form-control-feedback"></div>
					</div>
				</div>
			</div>
			<br />
			
			<div class="row">
				<div id="cPeriodo" class="col-md-6 row">
					<label for="Periodo" 
					class="col-md-4 text-center text-white col-form-label"><h5	class="lead">Periodo:</h5></label>
					<div class="col-md-8">
						<select class="form-control" id="srvSolicitado"
								name="srvSolicitado" th:field="*{iPeriodo}">
							</select>
						<div id="cPeriodo" class="form-control-feedback"></div>
					</div>
				</div>
			</div>
			<br />

			<div id="cMateria" class="col-md-6 row">
				<label for="Materia"
					class="col-md-4 text-center text-white col-form-label"><h5
						class="lead">Materia:</h5></label>
				<div class="col-md-8">
					<input type="text" class="form-control form-control-lg"
						id="cMateria" name="Materia" th:field="*{cMateria}" th:value="${cMateria}" placeholder="Materia" />

				</div>
			</div>
			<br />
			<div class="form-row"> <!-- Row Botones-->
				<button type="button" class="btn btn-outline-primary col-md-3 offset-md-1">Nuevo</button>
				<button type="submit" class="btn btn-outline-primary col-md-2 offset-md-1">Guardar</button>
				<button type="button" class="btn btn-outline-danger col-md-3 offset-md-1">Regresar</button>
				<div class="offset-md-1"></div>
			</div>
			<br />
		</form>
	</div>
	
	
	<!-- Script especifico -->
	<script th:inline="javascript">
	
		window.onload = function(){cargaComboSecundario(); soloLectura();}
		
		function cargaComboSecundario(){
			var elemToBind = document.getElementById("iCarrera");
			limpaComboSecundario();

	        /*<![CDATA[*/	    
	         var srvsolicitado = /*[[${srvsolicitado}]]*/ ;
	       /*]]>*/
	       
	       var comboSecundario = document.getElementById("srvSolicitado");
	       for(valor in srvsolicitado){
	    	   var option   = document.createElement("option");
	    	   option.text  = srvsolicitado[valor].cPeriodo;
	    	   option.value = srvsolicitado[valor].iPeriodo;
	    	   if(srvsolicitado[valor].iCarrera == elemToBind.value){
	    		   comboSecundario.add(option);
	    	   }	    	   
	       }
	       
		}
		
		function limpaComboSecundario(){
			document.getElementById("srvSolicitado").options.length = 0;			
		}

	</script>
	
	
</div>


