<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
<title>ESJ</title>
</head>
<body>
<ul class="nav nav-tabs">
  <li class="CONTROLDOCENTE">
    <a class="nav-link active" href="#">CONTROL DOCENTE</a>
  </li>
  <li class="controlAlumno">
    <a class="nav-link" href="#">CONTROL ALUMNO</a>
  </li>
  
    <li class="controlAdministrativo">
    <a class="nav-link" href="#">CONTROL ADMINISTRATIVO</a>
  </li>
  
      <li class="controlAsistencia">
    <a class="nav-link" href="#">CONTROL ASISTENCIA</a>
  </li>
</ul>
<center><h1 class="display-4">CONTROL DEL ALUMNO </h1></center>
<div class="d-flex justify-content-center align-items-center" style="min-height: 100%; min-height: 100vh;">
    	<div class="container">
 
 				<div id="Matricula" class="form-group row align-items-center">   	
					<label for="Matricula"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Matricula:</h5></label>
					<div class="col-md-6">
						<input type="Matricula" class="form-control form-control-lg"
							id="Matricula" name="Matricula" placeholder="Matricula" onkeypress="return validarUsuario(event)" />
						<div id="errorM" class="form-control-feedback"></div>	
					</div>
				</div>    	
    	
    		<form id="Nombre" th:action="@{/segValidaSesionP}" method="POST" >				
				<div id="Nombre(s)" class="form-group row align-items-center">
					<label for="Nombre(s)"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Nombre(s):</h5>
					</label>
					<div class="col-md-6">
						<input type="text" class="form-control form-control-lg"
							id="Nombre(s)" name="Nombre(s)" placeholder="Nombre(s)" />
						<div id="errorN" class="form-control-feedback"></div>	
					</div>
				</div>

				<div id="Apepaterno" class="form-group row align-items-center">
					<label for="Apellido Paterno"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Apellido Paterno:</h5></label>
					<div class="col-md-6">
						<input type="Apellido Paterno" class="form-control form-control-lg"
							id="Apellido Paterno" name="Apellido Paterno" placeholder="Apellido Paterno" onkeypress="return validarUsuario(event)" />
						<div id="errorP" class="form-control-feedback"></div>	
					</div>
				</div>
				
				<div id="ApeMaterno" class="form-group row align-items-center">
					<label for="Apellido Materno"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Apellido Materno:</h5></label>
					<div class="col-md-6">
						<input type="Apellido Materno" class="form-control form-control-lg"
							id="Apellido Paterno" name="Apellido Materno" placeholder="Apellido Materno" onkeypress="return validarUsuario(event)" />
						<div id="errorM" class="form-control-feedback"></div>	
					</div>
				</div>
				

				<div id="FechaNacimiento" class="form-group row align-items-center">
					<label for="Fecha de Nacimiento"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Fecha de Nacimiento:</h5></label>
					<div class="col-md-6">
						<input type="Fecha de Nacimiento" class="form-control form-control-lg"
							id="Fecha de Nacimiento" name="Fecha de Ingreso" placeholder="Fecha de Nacimiento" onkeypress="return validarUsuario(event)" />
						<div id="errorF" class="form-control-feedback"></div>	
					</div>
				</div>
				
				<div id="Genero" class="form-group row align-items-center">
					<label for="Genero"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Genero:</h5></label>
					<div class="col-md-6">

					<h5 class="lead" ><select name="Genero"> <option>Hombre</option> <option>Mujer</option></select></h5> 
						<div id="errorG" class="form-control-feedback"></div>	
					</div>
				</div>

				<div id="CURP" class="form-group row align-items-center">
					<label for="CURP"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">CURP:</h5></label>
					<div class="col-md-6">
						<input type="CURP" class="form-control form-control-lg"
							id="CURP" name="CURP" placeholder="CURP" onkeypress="return validarUsuario(event)" />
						<div id="errorCU" class="form-control-feedback"></div>	
					</div>
				</div>					
				<div id="Direccion" class="form-group row align-items-center">
					<label for="Direccion"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Direccion:</h5></label>
					<div class="col-md-6">
						<input type="Direccion" class="form-control form-control-lg"
							id="Direccion" name="Direccion" placeholder="Direccion" onkeypress="return validarUsuario(event)" />
						<div id="errorD" class="form-control-feedback"></div>	
					</div>
				</div>
				
				<div id="NumeroInt" class="form-group row align-items-center">
					<label for="Numero Interios"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Numero Interios:</h5></label>
					<div class="col-md-6">
						<input type="Numero Interios" class="form-control form-control-lg"
							id="Numero Interios" name="Numero Interios" placeholder="Numero Interios" onkeypress="return validarUsuario(event)" />
						<div id="errorNI" class="form-control-feedback"></div>	
					</div>
				</div>
				
				<div id="NumeroExt" class="form-group row align-items-center">
					<label for="Numero Exterior"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Numero Exterior:</h5></label>
					<div class="col-md-6">
						<input type="Numero Exterior" class="form-control form-control-lg"
							id="Numero Exterior" name="Numero Exterior" placeholder="Numero Exterior" onkeypress="return validarUsuario(event)" />
						<div id="errorNE" class="form-control-feedback"></div>	
					</div>
				</div>
				
				<div id="Colonia" class="form-group row align-items-center">
					<label for="Colonia"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Colonia:</h5></label>
					<div class="col-md-6">
						<input type="Colonia" class="form-control form-control-lg"
							id="Colonia" name="Colonia" placeholder="Colonia" onkeypress="return validarUsuario(event)" />
						<div id="errorCOL" class="form-control-feedback"></div>	
					</div>
				</div>
				
				<div id="CP" class="form-group row align-items-center">
					<label for="CP"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">CP:</h5></label>
					<div class="col-md-6">
						<input type="CP" class="form-control form-control-lg"
							id="CP" name="CP" placeholder="CP" onkeypress="return validarUsuario(event)" />
						<div id="errorCP" class="form-control-feedback"></div>	
					</div>
				</div>
				
				<div id="DelMuni" class="form-group row align-items-center">
					<label for="Delegacion o Municipio"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Delegacion o Municipio:</h5></label>
					<div class="col-md-6">
						<input type="Delegacion o Municipio" class="form-control form-control-lg"
							id="Delegacion o Municipio" name="Delegacion o Municipio" placeholder="Delegacion o Municipio" onkeypress="return validarUsuario(event)" />
						<div id="errorD" class="form-control-feedback"></div>	
					</div>
				</div>
				
				<div id="Tel" class="form-group row align-items-center">
					<label for="Telefono"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Telefono:</h5></label>
					<div class="col-md-6">
						<input type="Telefono" class="form-control form-control-lg"
							id="Telefono" name="Telefono" placeholder="Telefono" onkeypress="return validarUsuario(event)" />
						<div id="errorTE" class="form-control-feedback"></div>	
					</div>
				</div>	

				<div id="NivelEdu" class="form-group row align-items-center">
					<label for="Nivel Educativo"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Nivel Educativo:</h5></label>
					<div class="col-md-6">

					<h5 class="lead" ><select name="Genero"> <option>Maternal</option> <option>Kinder</option> <option>Primaria</option> <option>Secundaria</option></select></h5> 
						<div id="errorG" class="form-control-feedback"></div>	
					</div>
				</div>	

				<div id="Grado" class="form-group row align-items-center">
					<label for="Grado"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Grado:</h5></label>
					<div class="col-md-6">

					<h5 class="lead" ><select name="Genero"> <option>1ro</option> <option>2do</option> <option>3ro</option></select></h5> 
						<div id="errorG" class="form-control-feedback"></div>	
					</div>
				</div>								

				<div id="Periodo" class="form-group row align-items-center">
					<label for="Periodo"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Periodo:</h5></label>
					<div class="col-md-6">
						<input type="Periodo" class="form-control form-control-lg"
							id="Periodo" name="Periodo" placeholder="Periodo" onkeypress="return validarUsuario(event)" />
						<div id="errorPe" class="form-control-feedback"></div>	
					</div>
				</div>				
				
				<div id="NomTUT" class="form-group row align-items-center">
					<label for="Nombre del Tutor"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Nombre del Tutor:</h5></label>
					<div class="col-md-6">
						<input type="Nombre del Tutor" class="form-control form-control-lg"
							id="Nombre del Tutor" name="Nombre del Tutor" placeholder="Nombre del Tutor" onkeypress="return validarUsuario(event)" />
						<div id="errorNT" class="form-control-feedback"></div>	
					</div>
				</div>		
				
				<div id="PareTut" class="form-group row align-items-center">
					<label for="Parentesco del Tutor"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Parentesco del Tutor:</h5></label>
					<div class="col-md-6">
						<input type="Parentesco del Tutor" class="form-control form-control-lg"
							id="Parentesco del Tutor" name="Parentesco del Tutor" placeholder="Parentesco del Tutor" onkeypress="return validarUsuario(event)" />
						<div id="errorPT" class="form-control-feedback"></div>	
					</div>
				</div>	

				<div id="TelTu" class="form-group row align-items-center">
					<label for="Telefono del Tutor"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Telefono del Tutor:</h5></label>
					<div class="col-md-6">
						<input type="Telefono del Tutor" class="form-control form-control-lg"
							id="Telefono" name="Telefono del Tutor" placeholder="Telefono del Tutor" onkeypress="return validarUsuario(event)" />
						<div id="errorTT" class="form-control-feedback"></div>	
					</div>
				</div>	
				
				<div id="ColeMen" class="form-group row align-items-center">
					<label for="Colegiatura Mensual"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Colegiatura Mensual:</h5></label>
					<div class="col-md-6">
						<input type="Colegiatura Mensual" class="form-control form-control-lg"
							id="Colegiatura Mensual" name="Colegiatura Mensual" placeholder="Colegiatura Mensual" onkeypress="return validarUsuario(event)" />
						<div id="errorCM" class="form-control-feedback"></div>	
					</div>
				</div>									
			
				
				<div>
					<center>	
					<button type="button" class="btn btn-outline-primary" onclick="segValidaForm();" style ="width: 110px;">Nuevo</button>
				
					<button type="button" class="btn btn-outline-primary" onclick="segValidaForm();"  style ="width: 110px;">Modificar</button>

					<button type="button" class="btn btn-outline-primary" onclick="segValidaForm();"  style ="width: 110px;">Eliminar</button>				

					<button type="button" class="btn btn-outline-primary" onclick="segValidaForm();"  style ="width: 110px;">Guardar</button>				

					<button type="button" class="btn btn-outline-primary" onclick="segValidaForm();"  style ="width: 110px;">Salir</button>	</center>			
				</div>
				
			</form>
			
    	</div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/lib/jquery-3.3.1.min.js"></script>
    <script src="/js/lib/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>