
<div class="d-flex justify-content-center align-items-center" style="min-height: 75%; min-height: 75vh;" id="site_content" th:fragment="content">
    	<div class="container">


		<h1 class="display-6"  style="color: #ffffff;" >Control de Asistencia</h1>
		<br/>
		<form id="Nombre" th:action="@{/segValidaSesionP}" method="POST" >  
		
		<div class="row" > 	    	
    		 <div id="NumeroEmpleado" class="col-md-6 row">
					<label for="Numero de Empleado"
						class="col-md-4 text-center text-white col-form-label"><h5 class="lead">Numero de Empleado:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="iNumEmp" name="Numero de Empleado" placeholder="Numero de Empleado" onkeypress="return validarUsuario(event)" />

					</div>
				</div>	

				<div id="Personal" class="col-md-6 row">
					<label for="Personal"
						class="col-md-4 text-center text-white col-form-label"><h5 class="lead">Personal:</h5></label>
					<div class="col-md-8">
					<select name="iPersona" class="form-control form-control-lg"><option>Administrativo</option> <option>Docente</option></select>
					</div>
				</div>	
				</div>
				
				<div class="row"> 								
				<div id="Nombre(s)" class="col-md-6 row">
					<label for="Nombre(s)"
						class="col-md-4 text-center text-white col-form-label"><h5 class="lead">Nombre(s):</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="cNombre" name="Nombre(s)" placeholder="Nombre(s)" onkeypress="return validarUsuario(event)" />
					</div>
				</div>		
				
				<div id="Apellido paterno" class="col-md-6 row">
					<label for="Apellido Paterno"
						class="col-md-4 text-center text-white col-form-label"><h5 class="lead">Apellido Paterno:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="cAPaterno" name="Apellido Paterno" placeholder="Apellido Paterno" onkeypress="return validarUsuario(event)" />
				</div>
				</div>
			</div>
					<br/>
				<div class="row">					
				<div id="Apellido Materno" class="col-md-6 row">
					<label for="Apellido Materno"
						class="col-md-4 text-center text-white col-form-label"><h5 class="lead">Apellido Materno:</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="cAMaterno" name="Apellido Materno" placeholder="Apellido Materno" onkeypress="return validarUsuario(event)" />
					</div>
				</div>
				
				<div id="HorasCubiertas" class="col-md-6 row">
					<label for="Hora a Cubrir"
						class="col-md-4 text-center text-white col-form-label"><h5 class="lead">Hora a Cubrir (Por Quincena):</h5></label>
					<div class="col-md-8">
						<input type="text" class="form-control form-control-lg"
							id="cHorCu" name="Hora a Cubrir" placeholder="Hora a Cubrir" onkeypress="return validarUsuario(event)" />
					</div>
				</div>				
				</div>
				
				<div clas="row">
			     <div id="Observaciones" class="col-md-6 row">
					<label for="Observaciones"
				  class="col-md-4 text-center text-white col-form-label"><h5 class="lead">Observaciones</h5></label>
				  <div class="col-md-6" >
				  <input type="text" class="form-control form-control-lg"
							id="cObs" name=""  />
				</div>
				</div>
				</div>
				<br/>							
				<div>
					<center>	
					<button type="button" class="btn btn-outline-primary" onclick="segValidaForm();" style ="width: 110px;">Nuevo</button>

					<button type="button" class="btn btn-outline-primary" onclick="segValidaForm();"  style ="width: 110px;">Guardar</button>				

					<button type="button" class="btn btn-outline-primary" style ="width: 110px;"> <a href="/catalogo/asistencia">Regresar</a></button>	</center>			
				</div>
						</form>
	
			
    	</div>
    </div>
