

<ul class="nav nav-tabs">
	<li class="inicio"><a class="nav-link active" href="#">Inicio</a></li>
	<li class="CONTROLDOCENTE"><a class="nav-link active" href="#">Control
			Docente</a></li>
	<li class="controlAlumno"><a class="nav-link" href="#">Control
			Alumno</a></li>

	<li class="controlAdministrativo"><a class="nav-link" href="#">Control
			Administrativo</a></li>

	<li class="controlAsistencia"><a class="nav-link" href="#">Control
			Asistencia</a></li>
	<li class="inicio"><a class="nav-link active" href="#">Cerrar Sesi&oacute;n</a></li>
</ul>
