<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>

    <title>ESJ</title>
  </head>
  <body>
    
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100%; min-height: 100vh;">
    	<div class="container">
    	
    	 <form id="formLogin" th:action="@{/segValidaSesionP}" method="POST" >				
				<div id="Tipo de Usuario" class="form-group row align-items-center">
					<label for="Tipo de Usuario"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">ID Tipo de Usuario:</h5>
					</label>
					<div class="col-md-6">
						<input type="text" class="form-control form-control-lg"
							id="Tipo de Usuario" name="Tipo de Usuario" placeholder="ID Tipo de Usuario" />
						<div id="errorU" class="form-control-feedback"></div>	
					</div>
				</div> 

				<div id="Tipo de Usuario" class="form-group row align-items-center">
					<label for="password"
						class="col-md-3 offset-md-3 text-center col-form-label"><h5 class="lead">Tipo de Usuario:</h5></label>
					<div class="col-md-6">
						<input type="Tipo de Usuario" class="form-control form-control-lg"
							id="Tipo de Usuario" name="Tipo de Usuario" placeholder="Tipo de Usuario" onkeypress="return validarUsuario(event)" />
						<div id="errorP" class="form-control-feedback"></div>	
					</div>
				</div>

				<div>
					<button type="button" class="btn btn-primary btn-lg btn-block" onclick="segValidaForm();">Ingresar</button>
				</div>
			</form>
			
    	</div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/lib/jquery-3.3.1.min.js"></script>
    <script src="/js/lib/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>