<div class="d-flex justify-content-center align-items-center"
	style="min-height: 75%; min-height: 75vh;" th:fragment="content">
	
	<div id="logo" style="text-align:center;">
			<div id="logo_text">
				<!-- class="logo_colour", allows you to change the colour of the text -->
				<img class="img-responsive center-block" alt="Sor Juana Ines de la Cruz"  src="#" 
					th:src="@{/assets/img/sistem.png}" />
			</div>
	</div>
	
	<script th:inline="javascript">

      /*<![CDATA[*/	    
         var menu = /*[[${menu}]]*/ ;
       /*]]>*/
       
       console.log(menu);
	</script>
	
</div>

 