
<div th:fragment="encabezado">

	<div id="header">

		<div id="logo">
			<div id="logo_text">
				<!-- class="logo_colour", allows you to change the colour of the text -->
				<h1>
					<a href="index.html">colour<span class="logo_colour">green</span></a>
				</h1>
				<h2>INSTITUCI&Oacute;N EDUCATIVA Y CULTURAL SOR JUANA
				IN&Eacute;S DE LA CRUZ A.C</h2>
			</div>
		</div>

		<div id="menubar">
			<nav class="navbar navbar-expand-xl navbar-light bg-light">
				<a class="navbar-brand" href="#"> </a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- <div th:if="${menu != null}" class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul th:each="opcion : ${menu}" class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link" href="#"
							th:href="${opcion.cRuta}" th:text="${opcion.cPrograma}"></a></li>
					</ul>
				</div> -->

				<ul class="nav nav-tabs" th:if="${menu != null}">
					<li class="inicio"><a class="nav-link" href="/menu">Inicio</a></li>
					<li class="CONTROLDOCENTE"><a class="nav-link"
						href="/controldocente">Control Docente</a></li>
					<li class="controlAlumno"><a class="nav-link"
						href="/controlalumno">Control Alumno</a></li>

					<li class="controlAdministrativo"><a class="nav-link"
						href="/controladmin">Control Administrativo</a></li>

					<li class="controlAsistencia"><a class="nav-link"
						href="/controlasistencia">Control Asistencia</a></li>
					<li class="inicio"><a class="nav-link" href="/cierrasesion">Cerrar
							Sesi&oacute;n</a></li>
				</ul>

			</nav>

		</div>
	</div>
</div>
